.contactus-section {
  margin: 5rem 0;
}

.contact-leftside img {
  min-width: 80%;
  max-height: 30rem;
  height: auto;
}

.contact-input-feild {
  margin-bottom: 4rem;
}

.contact-rightside form .form-control {
  border: 1px solid #0928c6;
  -webkit-appearance: none;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: lighter;
}

.contact-rightside form .form-check-input {
  width: 2rem;
  height: 2rem;
}

.form-checkbox-style {
  margin: 4rem 0;
}

.contact-rightside form .main-hero-para {
  font-size: 1.5rem;
  color: black;
  margin: 0;
  font-weight: lighter;
  width: 75%;
  padding: 0 2rem;
}
.submit-btn {
  height: 5vh;
  background: transparent;
  border-radius: 5rem;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #0928c6;
  background-color: #0928c6;
}
.imgess {
  width: 15px;
  border-radius: 2rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.3);
}
.main-hero-para {
  font-size: 1.8rem;
  font-weight: lighter;
}
@media screen and (max-width: 980px) {
  .contact-rightside {
    padding-top: 2rem;
  }
}
