* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
/*---------------------------------------navbar css start-----------------------------*/
.navbarbg {
  background-color: white;
  padding: 1.5rem 0;
  z-index: 99;

  box-shadow: -16px 16px 36px -29px rgba(0, 0, 0, 0.49);
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bolder;
}
.navbar-light .navbar-brand {
  color: #0928c6 !important;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 600px;
  position: relative;
  margin-right: 1.5rem;
  color: black;
}
.nav-link:hover {
  color: #0928c6 !important;
}
.link {
  font-weight: black;
}
.btn-style {
  width: 8rem;
  height: 4rem;
  border-radius: 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
}
.btn-style {
  margin-right: 2rem;
  background-color: transparent;
}
.btn-style:hover {
  background-color: #152a94;
}
.btn-style-border {
  background-color: #152a94;
  color: white;
}
.btn-style-border:hover {
  background-color: transparent;
  color: black;
}
.navbar-light .navbar-toggler {
  color: #152a94;
}
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px !important;
  }
}
